/* General container styling */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    background-color: #F4F4F5;
}

.json-column, .form-column {
    flex-grow: 1;
    padding: 2rem;
    border-radius: 10px;
    margin: 1rem;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.json-column {
    width: 30%;
    background-color: #FFFFFF;
    color: #333;
    font-weight: bold;
    font-size: 14px;
}

.form-column {
    width: 60%;
    background-color: #FFFFFF;
    color: #333;
}

.json-column pre {
    text-align: left;
    white-space: pre-wrap;
    word-break: break-word;
}

/* Form styling */
.form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.5rem;
    position: relative;
}

.form-label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #333;
}

.form-input, .form-checkbox, select {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.form-input:focus, .form-checkbox:focus, select:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0,123,255,.5);
}

.form-error {
    color: #E74C3C;
    font-size: 0.8em;
    margin-top: 0.2em;
    position: absolute;
    bottom: -1.2rem;
    left: 0;
}

/* Nested Fields */
.form-nested {
    border-left: 2px solid #ccc;
}

.level-1, .level-2 {
    padding-left: 20px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

button[type="submit"] {
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
