
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width:100%;
}

.json-column, .form-column {
    flex-grow: 1; /* To make the divs take up equal space */
    max-width: 45%;
    padding: 2rem;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adding some shadow for smoothness */
    margin: 1rem; /* Spacing between columns */
    text-align: center; /* Centering content */
}

.json-column {
    background-color: #fafafa; /* Light grey but softer */
}

.form-column {
    background-color: #ffffff; /* White */
}

.json-column pre {
    text-align: left; /* Left aligns the preformatted text */
    white-space: pre-wrap; /* Wraps the content */
    word-break: break-word; /* Allows words to break and wrap onto the next line */
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
}

.form-label {
    margin-bottom: 0.5rem;
}